.resultsBox {
    padding: 32px;
}

@media (max-width: 768px) {
    .resultsBox {
      padding: 16px;
    }
  }

.headerText {
    color: #f6d594;
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.2;

}

@media (max-width: 768px) {
    .headerText {
      font-size: 1.1rem;
    }
  }

.divider {
    color: #ffffff;
}

.amountText {
    color: #ffffff;
    font-size: 2.2rem;
    text-align: center;
    line-height: 1.2;
  }
  
  @media (max-width: 768px) {
    .amountText {
      font-size: 1.4rem;
    }
  }


  .smallerText {
    letter-spacing: 0.05em;
    text-align: center;
    font-size: 0.9rem;
    word-break: break-word;
  }
  
  @media (max-width: 768px) {
    .smallerText {
      font-size: 0.6rem;
    }
  }
  

.iconPlus {
    margin: 0 0.25rem;
}

.boxText {
    background-color: white;
    padding: 1rem 3rem;
    border-radius: 1rem;
}

.textFont {
    font-size: 1.8rem;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .textFont {
      font-size: 1.2rem;
    }
  }