.resultsBox {
    padding: 32px;
}

.headerText {
    color: #f6d594;
}

.divider {
    color: #ffffff;
}

.amountText {
    color: #ffffff;
}

.smallerText {
  letter-spacing: 0.05em;
}

.iconPlus {
    margin: 0 0.25rem;
}

.boxText {
    background-color: white;
    padding: 1rem 3rem;
    border-radius: 1rem;
}

.textFont {
    font-size: 32px;
}