.paperForm {
    padding: 3rem;
}

.feesInput {
    padding: 16px 12px;
}

.numberInput input:focus {
    border-color: var(--mantine-color-teal-5);
    outline: none; /* remove default outline if present */
  }

.anchorText {
    color: var(--mantine-color-teal-7);
    text-decoration: none;
}