.header {
  height: 80px;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  background-color: #B8E1CF;
}

.title {
  color:#10605F
}

.logoutBtn {
  position: absolute;
  top: 20px;
  right: 12px;
}

.logoutBtn:hover {
  background-color: #10605F;
  color: white;
}